text-color = #222
bg-color = #888

$seance = #8E24AA
$silver-chalice = #AAAAAA
$alto = #ddd
$tundora = #444
$white = #fff
$black = #000

// blue = #26C6DA
// red = #e53935
// white = #ffffff
// black = #000000
// green = #388E3C
// orange = #E64A19
