.btn-arrow__wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: $seance;
}

.btn-arrow__menu-block {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	overflow: hidden;
}

.btn-arrow__menu-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: -40px;
	padding-right: 40px;
	height: 90px;
	background: #fff;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	transform: translateX(92%);
	transition: all 0.4s;
}

.btn-arrow__menu-nav.btn-arrow__menu-nav--active {
	transform: translateX(0);
}

.btn-arrow__menu-nav__link {
	display: block;
	padding: 0 40px;
}

.btn-arrow {
	position: relative;
	display: block;
	width: 90px;
	height: 90px;
	background: #fff;
	border-radius: 50%;
}

.btn-arrow.btn-arrow--active .btn-arrow__span::before,
.btn-arrow.btn-arrow--active .btn-arrow__span::after {
	width: 30px;
	transform-origin: left bottom;
}

.btn-arrow.btn-arrow--active .btn-arrow__span::before {
	transform: rotate(20deg);
}

.btn-arrow.btn-arrow--active .btn-arrow__span::after {
	transform: rotate(-20deg);
}

.btn-arrow__span {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -2px;
	margin-left: -30px;
	display: block;
	width: 60px;
	height: 4px;
	background: #000;
}

.btn-arrow__span::before,
.btn-arrow__span::after {
	content: '';
	position: absolute;
	display: block;
	width: 60px;
	height: 4px;
	background: #000;
	transition: all 0.4s ease;
}

.btn-arrow__span::before {
	transform: translateY(10px);
}

.btn-arrow__span::after {
	transform: translateY(-10px);
}
