.cards {
	display: flex;
	justify-content: space-between;
}

.cards__item {
	padding: 20px;
	flex: 0 0 170px;
	border: 1px solid #f00;
}

.cards__img-wrap {
	width: 170px;
}

.cards__img {
	width: 170px;
}

.cards__color .slick-dots li {
	width: 16px;
	height: 16px;
	border: 1px solid #ff0;
}

.cards__color .slick-dots a {
	display: block;
	width: 16px;
	height: 16px;
}
