.main-menu__wrap
    h3.main-menu__title Menu
    include ../sandwitch
    ul.main-menu#js-main-menu
        li.main-menu__item
            a(href="index.html").main-menu__link Home
        li.main-menu__item
            a(href="cards.html").main-menu__link Cards
        li.main-menu__item
            a(href="#").main-menu__link Buttons
        li.main-menu__item
            a(href="#").main-menu__link Features
        li.main-menu__item
            a(href="#").main-menu__link JavaScript
        li.main-menu__item
            a(href="#").main-menu__link Grid
        li.main-menu__item
            a(href="#").main-menu__link Menu
