ul.main-menu
	li.main-menu__item
		a(href="index.html").main-menu__link Главная

	li.main-menu__item
		a(href="#").main-menu__link Карточки
		ul.main-menu.main-menu--sub
			li.main-menu__item.main-menu__item--sub
				a(href="3d-cards.html").main-menu__link 3d карточки
	li.main-menu__item
		a(href="#").main-menu__link Кнопки
		ul.main-menu.main-menu--sub
			li.main-menu__item.main-menu__item--sub
				a(href="btn-arrow.html").main-menu__link Гамбургер стрелка
	li.main-menu__item
		a(href="#").main-menu__link Фитчи
		ul.main-menu.main-menu--sub
			li.main-menu__item.main-menu__item--sub
				a(href="envelope.html").main-menu__link Конверт
			li.main-menu__item.main-menu__item--sub
				a(href="city.html").main-menu__link Города
	li.main-menu__item
		a(href="#").main-menu__link JavaScript
		ul.main-menu.main-menu--sub
			li.main-menu__item.main-menu__item--sub
				a(href="card-slider.html").main-menu__link Card Slider
	li.main-menu__item
		a(href="#").main-menu__link Сетки
		ul.main-menu.main-menu--sub
			li.main-menu__item.main-menu__item--sub
				a(href="nestandart-grid.html").main-menu__link Масонри
	li.main-menu__item
		a(href="#").main-menu__link menu
		ul.main-menu.main-menu--sub
			li.main-menu__item.main-menu__item--sub
				a(href="fullscreen-menu.html").main-menu__link Меню на весь экран
	li.main-menu__item
		a(href="#").main-menu__link tooltips
