ul.main-menu
	li.main-menu__item
		a(href="index.html").main-menu__link Главная

	li.main-menu__item
		a(href="#").main-menu__link Карточки
		ul.main-menu.main-menu--sub
			li.main-menu__item.main-menu__item--sub
				a(href="3d-cards.html").main-menu__link 3d карточки
	li.main-menu__item
		a(href="#").main-menu__link Кнопки
		ul.main-menu.main-menu--sub
			li.main-menu__item.main-menu__item--sub
				a(href="btn-arrow.html").main-menu__link Гамбургер стрелка
	li.main-menu__item
		a(href="#").main-menu__link menu
	li.main-menu__item
		a(href="#").main-menu__link tooltips
	li.main-menu__item
		a(href="#").main-menu__link menu
	li.main-menu__item
		a(href="#").main-menu__link menu
	li.main-menu__item
		a(href="#").main-menu__link tooltips
