extends template

block title
	title Главная

block content
	.hidden
		//- include ../../../build/assets/i/svg/inline/sprite.svg

	include ../includes/header

	.cards
		.card
			.card__front(style="background-image: url('assets/i/cards/girl-1.jpg')")
			.card__back(style="background-image: url('assets/i/cards/girl-2.jpg')")

		.card
			.card__front(style="background-image: url('assets/i/cards/girl-3.jpg')")
			.card__back(style="background-image: url('assets/i/cards/girl-4.jpg')")

		.card
			.card__front(style="background-image: url('assets/i/cards/girl-5.jpg')")
			.card__back(style="background-image: url('assets/i/cards/girl-6.jpg')")


	include ../includes/scripts/ie-scripts

block scripts
	script(src="assets/js/main.min.js")

