extends template

block title
    title Buttons

block content
    include ../includes/header

    .container
        .big-menu
            a(href="btn-arrow.html").big-menu__item(style="background-image: url('assets/i/btn-arrow/btn-arrow.jpg')")
                h3.big-menu__title Btn arrow
            a(href="btn-arrow.html").big-menu__item(style="background-image: url('assets/i/btn-arrow/btn-arrow.jpg')")
                h3.big-menu__title Btn arrow
            a(href="btn-arrow.html").big-menu__item(style="background-image: url('assets/i/btn-arrow/btn-arrow.jpg')")
                h3.big-menu__title Btn arrow
            a(href="btn-arrow.html").big-menu__item(style="background-image: url('assets/i/btn-arrow/btn-arrow.jpg')")
                h3.big-menu__title Btn arrow
            a(href="btn-arrow.html").big-menu__item(style="background-image: url('assets/i/btn-arrow/btn-arrow.jpg')")
                h3.big-menu__title Btn arrow
            a(href="btn-arrow.html").big-menu__item(style="background-image: url('assets/i/btn-arrow/btn-arrow.jpg')")
                h3.big-menu__title Btn arrow

    include ../includes/scripts/ie-scripts
    include ../includes/scripts/scripts.pug
    script(src="assets/js/main.min.js")
