extends template

block title
	title Card Slider

block content
	.hidden
		//- include ../../../build/assets/i/svg/inline/sprite.svg

	.container
		include ../includes/header

		.cards#js-cards
			.cards__item
				.cards__img-wrap
					img.cards__img(src="assets/i/card-slider/velo1-blue.jpg", alt="" data-color="#26C6DA")
					img.cards__img(src="assets/i/card-slider/velo1-red.jpg", alt="" data-color="#e53935")
					img.cards__img(src="assets/i/card-slider/velo1-white.jpg", alt="" data-color="#fff")
				h3.cards__title card 1
				p.cards__desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem dolores suscipit aperiam nostrum unde!
				.cards__color
				button.cards__button Button

			.cards__item
				.cards__img-wrap
					img.cards__img(src="assets/i/card-slider/velo2-black.jpg", alt="" data-color="#000")
					img.cards__img(src="assets/i/card-slider/velo2-green.jpg", alt="" data-color="#388E3C")
				h3.cards__title card 1
				p.cards__desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem dolores suscipit aperiam nostrum unde!
				.cards__color
				button.cards__button Button

			.cards__item
				.cards__img-wrap
					img.cards__img(src="assets/i/card-slider/velo3-black.jpg", alt="" data-color="#000")
					img.cards__img(src="assets/i/card-slider/velo3-orange.jpg", alt="" data-color="#E64A19")
					img.cards__img(src="assets/i/card-slider/velo3-red.jpg", alt="" data-color="#e53935")
					img.cards__img(src="assets/i/card-slider/velo3-white.jpg", alt="" data-color="#fff")
				h3.cards__title card 1
				p.cards__desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem dolores suscipit aperiam nostrum unde!
				.cards__color
				button.cards__button Button

			.cards__item
				.cards__img-wrap
					img.cards__img(src="assets/i/card-slider/velo4-black.jpg", alt="" data-color="#000")
					img.cards__img(src="assets/i/card-slider/velo4-blue.jpg", alt="" data-color="#26C6DA")
				h3.cards__title card 1
				p.cards__desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem dolores suscipit aperiam nostrum unde!
				.cards__color
				button.cards__button Button

	include ../includes/scripts/ie-scripts

block scripts
	script(src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js")
	script(src="./../../assets/libs/slick/slick/slick.min.js")
	script(src="assets/js/main.min.js")
