extends template

block title
	title Города

block content
	.hidden
		//- include ../../../build/assets/i/svg/inline/sprite.svg

	include ../includes/header

	.city
		.city-wrapper
			.city__bg
				.city__title Hidden City title
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay
			.city__overlay

	//- audio#js-city-audio
	//- 	source(src="assets/i/city/city-audio.mp3" preload="auto")

	include ../includes/scripts/ie-scripts
	include ../includes/scripts/scripts.pug
	script(src="assets/js/main.min.js")
