extends template

block css

block title
	title Главная

block content
	.container
		include ../includes/menu



	//footer
	|
	|
block comment-scripts
block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js")
	script(src="assets/js/main.min.js")

