extends template

block title
	title Нестандартная сетка

block content
	.hidden
		//- include ../../../build/assets/i/svg/inline/sprite.svg

	.container
		include ../includes/header

		.grid
			.grid__item
				.grid__item-block.grid__item-block-300 300
			.grid__item
				.grid__item-block.grid__item-block-400 400
			.grid__item
				.grid__item-block.grid__item-block-100 100
			.grid__item
				.grid__item-block.grid__item-block-600 600
			.grid__item
				.grid__item-block.grid__item-block-700 700
			.grid__item
				.grid__item-block.grid__item-block-100 100
	include ../includes/scripts/ie-scripts
	include ../includes/scripts/scripts.pug
	script(src="assets/libs/slick/slick/slick.min.js")
	script(src="assets/js/main.min.js")
