extends template

block title
    title Svg

block content
    include ../includes/header

    .scrollbar-hue
        #scrollbar-hue__progressbar.scrollbar-hue__progressbar
        #scrollbar-hue__scrollPath.scrollbar-hue__scroll_path
        .container
           .scrollbar__content
               h2 Progressive scrollbar
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet deserunt dolor eius eligendi eum iusto libero magnam magni nam placeat possimus quasi quod tempora tenetur totam voluptates. Amet, enim!

    include ../includes/scripts/ie-scripts
    include ../includes/scripts/scripts.pug
    script(src="assets/js/main.min.js")
