.main-menu
	display flex
	&.main-menu--sub
		display none
	&.main-menu--deep
		position absolute
		top 0
		left 100%
		display none

.main-menu__item
	position relative
	width 150px
	flex-grow 0
	flex-shrink 0
	border-right 1px solid $silver-chalice
	&:hover > .main-menu--sub
		display block
	&.main-menu__item--sub
		position relative
		&:hover > .main-menu--deep
			display block
	&.main-menu__item--deep
		z-index 2

.main-menu__link
	display block
	padding 15px 25px
	font-size 14px
	text-transform uppercase
	text-align center
	background linear-gradient($silver-chalice, $alto, $silver-chalice)
	&:hover
		color $alto
		background $tundora

