.menu
	display flex
	align-items center

.menu__link
	display block
	padding: 15px 25px
	text-decoration none
	text-transform uppercase
	color: #aaa
	border: 1px solid yellow

	&:hover
		color yellow
		background #aaa
