@import'../libs/slick/slick/slick.css'
@import 'partials/fonts'
@import 'partials/variables'
@import 'partials/mixins'

body
	font-size 18px
	margin 0
	padding 0
	color text-color
	background bg-color

img
	max-width 100%
	height auto

.hidden
	display none

.container
	margin 0 auto
	max-width 1200px

ul
	reset-list()

a
	text-decoration none
	color inherit

@import 'blocks/header'
@import 'blocks/menu'
@import 'blocks/3d-cards'
@import 'blocks/btn-arrow'
@import 'blocks/card-slider'
@import 'blocks/nestandart-grid'
@import 'blocks/envelope'
@import 'blocks/city'
