// @import "../libs/reset.scss/reset.scss"
@import 'partials/fonts'
@import 'partials/variables'
@import 'partials/mixins'

body
	font-size 18px
	margin 0
	padding 0
	color text-color
	background bg-color

img
	max-width 100%
	height auto

.hidden
	display none

.container
	margin 0 auto
	margin-bottom 30px
	max-width 1200px
	outline 1px solid green

ul
	reset-list()

a
	text-decoration none
	color inherit

@import 'blocks/header'
@import 'blocks/menu'
@import 'blocks/3d-cards'
@import 'blocks/btn-arrow'
