//grid
$xs:  320px;
$md:  768px;
$xl:  1150px;

//colors
$text-color: #ccc;
$bg-color: #343334;

$avoid: #9abcd1;
$white:  #fff;
$black:  #000;
$tundora: #9fa;
$seance: #8E24AA;
$silver-chalice: #9e9e9e;
$alto: #d5d5d5;
$tundora: #444;
$white: #fff;
$black: #000;
$mona-lisa: #FFAB91;
$cabaret: #CD4A71;
$cloud-burst: #21324d;
